# ============================================
# ML & Data Science
# ============================================
numpy
pandas
scikit-learn
xgboost
joblib
reportlab
# ============================================
# API & Backend
# ============================================
fastapi
uvicorn[standard]
pydantic

# ============================================
# Database
# ============================================
sqlalchemy
psycopg2-binary
alembic

# ============================================
# Utilities
# ============================================
python-dotenv
pyyaml
requests

# ============================================
# Visualization
# ============================================
matplotlib
seaborn

# ============================================
# Testing
# ============================================
pytest
pytest-cov
httpx

# ============================================
# Jupyter
# ============================================
jupyterlab
ipykernel



# ============================================
# version control
# ============================================
dvc



mlxtend